.card{
    .box{
        form{
            margin-top: 20px;
            p{
                margin-top: 2%;
            }
            a{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #85586f;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}